# docker run -d -p 3001:3001 --name transcoder -e TARGET=http://nginx:80 -e CACHE_PATH=/cached -e PORT=3001 ghcr.io/online-video-platform/origin:main
services:
  torrserver:
    image: ghcr.io/yourok/torrserver:latest
    stop_grace_period: 1s
    volumes:
      - ~/ts:/opt/ts
    restart: unless-stopped
  origin-proxy:
    image: ghcr.io/online-video-platform/origin:main
    stop_grace_period: 1s
    volumes:
      - ./origin-cached/:/cached/
      - ./tmp/:/tmp/
    environment:
      - TARGET=http://torrserver:8090
      - CACHE_PATH=/cached/
      - PORT=3001
    restart: unless-stopped
    depends_on:
      torrserver:
        condition: service_started
  transcoding-proxy:
    image: ghcr.io/online-video-platform/transcode:main
    stop_grace_period: 1s
    volumes:
      - ./transcoded/:/cached/
      - ./proxy-cached/:/proxy-cached/
      - ./tmp/:/tmp/
    environment:
      - PROXY_TARGET=http://origin-proxy:3001
      - CACHE_PATH=/cached/
      - PORT=3001
    restart: unless-stopped
    depends_on:
      origin-proxy:
        condition: service_started
  reverse-proxy:
    image: ghcr.io/online-video-platform/reverse-proxy:main
    stop_grace_period: 1s
    ports:
      - "8090:80"
    restart: unless-stopped
    depends_on:
      transcoding-proxy:
        condition: service_started
  varnish-cache:
    environment:
      - DOMAIN_FROM_ENV=http-192-168-1-104-8090.schnworks.com
      - NGINX_ENVSUBST_OUTPUT_DIR=/tmp/nginx/conf.d
    image: ghcr.io/online-video-platform/caching-proxy:main
    tmpfs:
      - /tmp/nginx/conf.d:rw,exec,nosuid,nodev,size=10M,uid=1014,gid=1014
    volumes:
      - ./var/cache/nginx/:/var/cache/nginx/
    # ports:
    #   - "8091:80"
  adaptive-bitrate-proxy:
    image: ghcr.io/online-video-platform/adaptive-bitrate-proxy:main
    volumes:
      - ./nginx.conf:/etc/nginx/conf/nginx.conf
      # /cached/transcoded_2895014537.mp4/index.m3u8
    ports:
      - "8091:80"
    restart: unless-stopped
